
$primary: #4BDFFF;
$primary-disabled: rgba(4, 211, 255, .40);
$primary-dark: #00a6b2;

$white-dove: #c7d4dd;
$primary-blue: #00b9e4;

$retro-green: #4BFFBE;
$retro-green-disabled: #2bffbf6b;
$retro-dark: #00B273;

$contraband-yellow: #ffc600;
$contraband-disabled: rgba(255, 209, 4, 0.4);
$contraband-dark: #c49900;

$dark-text: #3a3a3a;
$dark-noir: rgba(23, 30, 45, 0.60);

$dark-background: rgba(12, 14, 23, 0.9);
$header-background: rgba(23, 30, 45, 0.60);

$group-color: #FF585B;
$group-disabled: rgba(255, 88, 91, .15);
$group-dark: #910000;

$tool-color: #4BDFFF;
$tool-disabled: rgba(4, 211, 255, .15);
$tool-dark: #00a6b2;


$technique-color: #9157EB;
$technique-disabled: rgba(91, 116, 231, .15);
$technique-dark: #4b0091;

